<div id="index-banner" class="parallax-container" style="height: 350px;">
  <div class="section no-pad-bot">
    <div class="container">


    </div>
  </div>
  <div class="parallax"><img src="assets/img/City Wallpaper 1080p.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="row card" style="margin-top: -200px;    border-top: 6px solid #ff00d3b3;" >
    <div class="col l12 m12 s12">
      <app-form-body></app-form-body>
    </div>

  </div>

  <p class="center">
  <label class="center-align" style="width: 100%;">
    This content is neither created nor endorsed by vicky. Report Abuse - Terms of Service - Additional Terms
  </label>
  </p>
  <h5 class="center-align"><b style="color: #e78bf1;text-shadow: 1px 1px #00000040;"><span>Vicky</span> Forms</b></h5>

</div>
<router-outlet></router-outlet>
